<app-header></app-header>
<app-footer></app-footer>

<div class="forms">
    <div class="currency">
        <label>From</label>
            <select name="selectFrom" id="selectFrom" [(ngModel)]='this.from' (change)="onSelectedFrom(this.from)">
                <!-- [(ngModel)]='this.from' -->
                <option *ngFor="let currency_ of currencys" value="{{currency_.cc}}"
                [selected]="currency_.cc === this.from">{{currency_.cc}}-{{currency_.txt}}</option>
            </select>
        <br>
        <label>To</label>
            <select name="selectTo" id="selectTo" [(ngModel)]='this.to' (change)="onSelectedFrom(this.to)">
                <option *ngFor="let currency_ of currencys">{{currency_.cc}}-{{currency_.txt}}</option>
            </select>
        <!-- <p *ngFor="let currency of currencys">{{currency.cc}} - {{currency.rate}}</p> -->
    </div>

    <div class="currency">
        <label>Money</label>
        <input type="text" id="money" (input)="moneyInput($event)"><br><br>
        <span>{{result_ | currency: this.to:'symbol-narrow':'1.2-2' | currPipe}}</span>
    </div>
</div>
