

<header class="header">
  <div class="container">
    <div class="header__top-inner">
      <div class="logo">
        <!-- <a class="logo__link">LOGOTIP</a> -->
        <img alt="logo" src="https://thumbs.dreamstime.com/z/d-letter-leaf-logo-design-concept-green-vector-illustration-213760551.jpg?w=992" width="80px" height="80px">
        <h2>{{titelText | uppercase}}</h2>
      </div>
       <!-- <a class="header__contact" href="tel:+380501111111">+38 (050) 111-11-11</a> -->
    </div>
  </div>
</header>

